<% if user == message.user %>
  <div class="comment bubble-right" data-message-id="<%= message.id %>">
<% else %>
  <div class="comment bubble-left" data-message-id="<%= message.id %>">
<% end %>
    <p><%= message.body %></p>
  </div>
