 <!-- top skills categories bar -->

<div class="container">
  <div class="skill-cat-container">
    <div id="skill-cat-header">
      <h2>Skill Categories</h2>
    </div>
    <div class="cat-btn cat-btn-active">All</div>
    <div class="cat-btn">BUSINESS</div>
    <div class="cat-btn">PEOPLE</div>
    <div class="cat-btn">KEY EXPERIENCES</div>
  </div>

  <!-- Main body -->

  <div class="lower-search-container">

    <!-- left side -->

    <div class="skill-container">

      <!-- business skills -->

      <div class="skill-card">
        <h3>Business</h3>
        <div class="skills-grid">
          <div class="skill-grid-item">one</div>
          <div class="skill-grid-item">two</div>
          <div class="skill-grid-item">one</div>
          <div class="skill-grid-item">two</div>
          <div class="skill-grid-item">one</div>
          <div class="skill-grid-item">one</div>
          <div class="skill-grid-item">two</div>
          <div class="skill-grid-item">one</div>
        </div>
      </div>


      <!-- people skills -->
      <!-- <div class="skills-grid"> -->
      <!-- </div> -->
      <!-- key experiences -->
      <!-- <div class="skills-grid"> -->

      <!-- </div> -->
    </div>

    <!-- right side -->

    <div class="selection-container">

    </div>
  </div>
</div>
