 <!-- top skills categories bar -->

<div class="container">
  <div class="skill-cat-container">
    <div id="skill-cat-header">
      <h2>Skill Categories</h2>
    </div>
    <button class="cat-btn cat-btn-active" data-value="all">All</button>
    <button class="cat-btn" data-value="business">BUSINESS</button>
    <button class="cat-btn" data-value="people">PEOPLE</button>
    <button class="cat-btn" data-value="key">KEY EXPERIENCES</button>
  </div>

  <!-- Main body -->

  <div class="lower-search-container">

    <!-- left side -->

    <div class="skill-container">

      <!-- business skills -->

      <div class="skill-card" id="business">
        <h3>BUSINESS</h3>
        <div class="skills-grid">

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>

        </div>
      </div>




      <!-- people skills -->
      <div class="skill-card" id="people">
        <h3>PEOPLE</h3>
        <div class="skills-grid">
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- key experiences -->
      <div class="skill-card" id="key">
        <h3>KEY EXPERIENCES</h3>
        <div class="skills-grid">
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
          <div class="skill-grid-item">
            <div class="section">
              <img src="https://source.unsplash.com/random/150x150" class="image" style="">
              <p class="show-profile">Skill Name</p>
              <div class="overlay">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- right side -->

    <div class="job-select-container">
      <div class="vacancies-container">
        <h4>VACANCIES</h4>
      </div>
      <div class="selection-container">
        <h4>SELECTION</h4>
      </div>
    </div>
  </div>
</div>
