<div class="container-custom">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div class="employee-detail-all">
        <div class="employee-detail">
          <img src="<%= image_path "avatar.jpg" %>" class="avatar-big" alt="">
          <div class="employee-contact">
            <h2><%= "Astrid Le Quéré".upcase %></h2>
            <h3>Digital Enablement Specialist</h3>
            <p>City</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="employee-have-skills-all">
        <div class="employee-have-skills">
          <h3>Existing skills</h3>
          <div class="employee-skills">
            <p class="skill-selection">UX</p>
            <p class="skill-selection">Market knowledge</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="employee-wish-skills-all">
        <div class="employee-wish-skills">
          <h3>Wish to develop</h3>
          <div class="employee-skills">
            <p class="skill-selection">Leadership</p>
            <p class="skill-selection">Time management</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
