// Define variables for your color scheme
$our-grey: #5e5d5d;
$our-blue: #42a2d6;
$our-light-blue: #dbe8ff;
$our-light-grey: #f9f9f9;
$blue-hover: #4199c8;
$our-green: #B4BDAD;


// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
