// Specific CSS for your home-page
.home-container {
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-size: cover;
  background-position: center;
}

h1 {
font-family: Open Sans;
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 65px;
color: white;
padding: 100px;
}

.home-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-btn-job {
padding: 30px;
background-color: white;
text-align: center;
color: $our-blue;
border-radius: 2px;
height: 183px;
width: 183px;
display: flex;
justify-content: center;
margin: 10px;
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 24px;
align-items: center;
}

.home-btn-job:hover {
  color: $blue-hover;
  border: 1px solid $blue-hover;
}

.home-btn-candidate {
background-color: $our-blue;
text-align: center;
color: white;
border-radius: 2px;
height: 183px;
width: 183px;
display: flex;
justify-content: center;
margin: 10px;
font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 24px;
align-items: center;
transition: all 200ms ease;
}

.home-btn-candidate:hover {
  background-color: $blue-hover;
  border: 1px solid $blue-hover;
  text-decoration: none;
  color: white;

}

.home-looking-for {
  width: 600px;
  h1 {
    padding: 35px
  }
  .typed-cursor {
      opacity: 0;
    }
}
