.search-result-h1 {
  margin-top: 30px;
  padding: 10px;
  border-radius: 3px;
  background-color: $our-blue;
  text-align: center;
  h1 {
    font-size: 32px;
    font-family: $headers-font;
    padding: 0;
    margin-bottom: 0;

  }
  p {
    font-size: 14px;
    font-style: italic;
    color: white;

  }
}

.search-result-g {
  margin-top: 30px;
  background-color: $our-blue;
  text-align: center;
}

.search-result-title-h2 {
  color: $our-blue;
  text-align: center;
  margin: 20px;
}

.search-result-title-h22 {
  color: white;
  background-color: $our-blue;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

.search-result-title-h3 {
  color: $our-blue;
  text-align: center;
  margin: 20px;
  font-size: 18px;
}


.selected-skills-result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


p#others{
    font-size: 13px;
    font-style: italic;
    margin: none;
  }

