<div class="footer <%= "footer-nomargin" if controller.controller_name == "pages" %>" >
  <div class="us-links">
    <p>Contact us</p>
    <p>About us</p>
  </div>
  <div class="middle-link">
    <p>Recruit.me &copy; MMXIX</p>
  </div>
  <div class="footer-buttons">
    <div class="button-TAC">Terms & Conditions</div>
    <div class="button-FAQ">F.A.Q</div>
  </div>
</div>

