<div class="footer">
  <div class="us-links">
    <p>Contact us</p>
    <p>About us</p>
  </div>
<div class="middle-link">
<p>Recruit.me &copy; MMXIX</p>
</div>
<div class="footer-buttons">
  <button class="TAC-btn" data-value="TAC">Terms & Conditions</button>
  <button class="FAQ-btn" data-value="FAC">F.A.Q</button>
</div>
</div>

