<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="job-info">

        <!-- for pop-up -->
        <p class="close">x</p>
        <!-- for pop-up -->

        <h2>Team Player</h2>
        <p>If Trump Ipsum weren’t my own words, perhaps I’d be dating it. I think the only difference between me and the other placeholder text is that I’m more honest and my words are more beautiful.</p>
        <div class="skill-img">
          <img src="<%= image_path "test_skills.jpg" %>"alt="">
        </div>
      </div>
    </div>
  </div>
</div>
