<!-- LOGIC TO BE IMPLEMENTED FOR THE SKILLS.
  Need to rework on the value / name / id.
  Label classes shouldn't change for the CSS -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="card-skills">
        <label class="control-label check_boxes optional">Business</label>
        <input type="hidden" name="skill" value="">

        <div class="skill-choices">
          <input type="checkbox" class="hidden" value="" name="skill" id="skill">
          <label class="skill-choice" for="skill">
            Consumer relevance and market knowledge
          </label>
          <input type="checkbox" class="hidden" value="" name="skill" id="skill">
          <label class="skill-choice" for="skill">
            Leadership
          </label>
          <input type="checkbox" class="hidden" value="" name="skill" id="skill">
          <label class="skill-choice" for="skill">
            Back-end
          </label>
          <input type="checkbox" class="hidden" value="" name="skill" id="skill">
          <label class="skill-choice" for="skill">
            Communication
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
