.skill-info {
  background: white;
  // padding: 20px;
  margin: 10px;
  border-radius: 2px;
  text-align: center;
  width: 284px;
  height: 393px;
  position: relative;
  h2 {
    padding: 20px;
    color: $our-blue;
    font-weight: bold;
    font-size: 18px;
    font-family: $headers-font;
  }
  p {
    margin: 0 20px 20px 20px;
    color: $our-grey;
    font-size: 14px;
    font-family: $body-font;
  }
  // OPTIONAL: for pop-up only
  p.close {
    position: absolute;
    color: $our-blue;
    font-size: 18px;
    font-weight: bold;
    top: 10px;
    right: 0px;
    opacity: 1;
    &:hover{
      cursor: pointer;
    }
  }
}

.skill-img {
  position: absolute;
  bottom: 20px;
  img {
    width: 284px;
    height: 141px;
  }
}
