.log-in-form {
  display: flex;
  flex-direction: column;
  margin-top: 150px;

  a {
  text-decoration: none;
}

}

.form-actions {
  margin-bottom: 30px;
  text-align: left;
}

.text-align-center {
  text-align: center
}

