.myprofile-container {
  color: $our-blue;
  height: 140px;
  width: 100%;
  // min-width: 930px;
  padding: 0px 15px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  font-size: 36px;
  position: relative;

  h1 {
    padding: 0;
    margin: 0 0 0 30px;
    color: $our-blue;
    font-size: 34px;
  }

  img {
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  }

  .link_absolute {
    position: absolute;
    top: -50px;
    left: -40px;
  }

  .myprofile-name {
    text-align: left;

  }

  .myprofile-image {
    margin-left: 20px;
  }
}


h1, h2 {
    font-weight: bold;
    color: $our-blue;
  }

.myprofile-info-container {
  width: 100%;
}

.myprofile-info-card {
  background-color: white;
  padding: 40px;
  font-size: 14px;
  h2 {font-size: 25px;}
  h5 {font-size: 12px;
    font-weight: 400;}

  .info-employee {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.8;
    text-align: justify;
  }
}

.info-employee-label {
  padding: 0;
  li {
      margin-top: 10px;
      display: inline-block;
      background-color: #42a2d6;
      padding: 5px 15px;
      color: white;
      border-radius: 13px;
      font-size: 10px;
      opacity: 0.8;
    }
  }

.myprofile-skill-card {
  color: $our-blue;
  background-color: white;
  border-radius: 3px;
  padding: 40px;
  min-width: 430px;
  h3 {
    font-size: 20px;
    font-weight: 500em;
    margin-bottom: 20px;
  }
  a {
    color: #5e5d5d;
    font-size: 14px;
  }
}

.left {
  width:50%;
}

.right {
  width:50%;
  margin-left: 15px;
}

// #description-form {
//   height: 100%;
//   width: 100%;
//   display: none;
// }

.form-description {
height: 100%;
  width: 100%;
}


.toggle-div {
  display:none;
}

.toggle-div.display-block {
  display:block;

}
.button {
  background: $our-blue;
  color: white;
  border-radius: 2px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 12px;
  border: none;
  padding: 7px 25px;
  &:hover {
    background: $blue-hover;
    cursor: pointer;
    color: white;
  }
}

.fa-edit {
  cursor: pointer;
}




