.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $our-blue;
  font-family: $headers-font;
  font-weight: bold;
}

.nav-item.dropdown{
  margin-left: 21px;
}
@media (min-width: 576px){
  .navbar-expand-sm .navbar-nav .nav-link {
    font-size: 14px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

#logo-style {
  font-size: 22px;
}

#diff-logo {
  color: $our-grey;
  opacity: 0.17;
}

.company-detail {
  display: flex;
  align-items: center;
  a {
    margin-bottom: 0;
    margin-left: 30px;
    font-family: $headers-font;
    color: $our-blue;
    font-weight: 500;
    text-decoration: none;
  }
}

.navbar-light .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
  padding-top: 4px;
}

.fa-envelope {
  color: $our-grey;
  opacity: 0.5;
  line-height: 36px;
  margin: 0 10px;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

.mail-active {
  color: rgb(234, 9, 9);
  opacity: 0.8;
  animation: shake 0.45s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  &:hover {
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.25px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(0.5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

