.job-select-container {
  width: 32%;
  color: $our-grey;
  position: sticky;
  top: 20px;
  h4, p {
    font-size: 15px;
  }
}


.job-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px 0px;
  padding: 14px 8px;
  transition: .4s ease;
  border-radius: 3px;
  p {
    margin: 0px;
  }
  &:hover {
    background-color: $our-light-grey;
  }
}

.job-active {
  background-color: $our-light-grey;
}

.vacancies-container {
  margin: 20px 0px;
  background-color: white;
  color: $our-blue;
  padding: 20px;
  font-weight: bold;
  border-radius: 3px;
  h4 {
    color: $our-grey;
    font-weight: bolder;
    font-size: 15px;
    padding-bottom: 18px;
    border-bottom: solid 1px rgba(0,0,0,0.1)

  }
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transition: .3s ease;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: $our-blue;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

// SKILL with rounded shape (use <p>)
.skill-selection {
  color: $our-blue;
  font-weight: bold;
  width: fit-content;
  border: 1px solid $our-blue;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 0 5px 5px 0;
  font-size: 11px !important;
}

.selection-container {
  margin: 20px 0px;
  background-color: white;
  color: $our-blue;
  padding: 20px;
  font-weight: bold;
  border-radius: 3px;
  h4 {
    color: $our-grey;
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 18px;
  }
}

.search-btn {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 100%;
  padding: 0px auto;
  margin: 16px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: $our-blue;
  border-radius: 3px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  transition: .3s ease;
  background-color: $our-blue;
  color: $our-light-grey;
  &:hover {
    background-color: $our-light-grey;
    color: $our-blue;
    transform: scale(1.02);
  }
}

