// Upper bar

.skill-cat-container {
  color: $our-blue;
  height: 100px;
  min-width: 430px;
  padding: 0px 30px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.skill-cat-container-to-develop {
  color: $our-blue;
  height: 100px;
  min-width: 430px;
  padding: 0px 30px;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bolder;
}

.cat-btn {
  display: flex;
  height: 40px;
  padding: 0px 30px;
  margin-right: 5px;
  border: solid 1px $our-blue;
  color: $our-blue;
  border-radius: 3px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bold;
  background-color: #FFFBFF;
  transition: .3s ease;
}

.cat-btn:focus {
  outline: none;
}

.cat-btn-active {
  background-color: $our-blue;
  color: $our-light-grey;
}

// Lower body

.lower-search-container {
  display: flex;
  align-items: flex-start;
  color: $our-blue;
  min-width: 690px;
}

.skill-container {
  width: 68%;
}

.skill-card {
  background-color: white;
  border-radius: 3px;
  padding: 30px;
  margin-top: 20px;
  margin-right: 50px;
  min-width: 430px;
  h3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.hide-skills {
  display: none;
}

.fa-eraser {
  color: $our-grey;
  transition: .2s;
  &:active {
    color: $our-blue;
  }
}

.fa-eraser:hover {
  animation: shake 0.45s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  cursor: pointer;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-0.25px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(0.5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

@media screen and (max-width: 1200px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skills-grid-1 {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  grid-gap: 10px;
}

@media screen and (max-width: 1200px) {
  .skills-grid-1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .skills-grid-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-gap: 10px;
}

@media screen and (max-width: 1200px) {
  .skills-grid-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .skills-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}


.skill-grid-item {
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: 500;
  position: relative;
  .popover-skill {
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 3px;
    bottom: 0;
    color: white;
    z-index: 3;
  }
}

.section {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: $our-light-grey;
}

.show-profile {
  color: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section:hover .overlay {
  opacity: 0.35;
  transform: scale(1.02);
}

.active-skill .overlay {
    opacity: 0.70;
    background-color: $our-blue;
}

// to hide the checkboxes

.hidden {
  display: none;
}

.hidden-skill {
  display: none;
}

#clear-all {
  opacity: 0.3;
}

#clear-hard {
  opacity: 0.3;
}
